    <h3>
    {{users.name}}
  </h3>


    <img src="{{users.img_url}}" width="400" height="400">
  </a>

  <br>
  <div class="bio">
    <p>{{users.date_made}}</p>
    <p>{{users.name}}
    <p>{{users.username}}</p>
    <p>{{users.bio}}</p>
  </div>

  <br>
  
  {{#each posts}}
    <div class="post">
      <p>{{description}}</p>
      <p>{{location}}</p>
      <p>{{date_made}}</p>
      <p>{{like_count}}</p>
      <a href="/topics/{{topic_id}}">Topic of post</a>
    </div>
  {{/each}}
